<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<script>
    async function sendAccept(){
        await fetch("/cookie_consent", {
                        method: "POST",
                        headers: {
                            "Accept": "application/json",
                            "Content-Type": "application/json"
                        },
                        body: JSON.stringify({'accept': true})
                    });
        window.frameElement.remove();
        return
    }
</script>

<body>
    <div class="flex-container cookie-consent" id="cookie_consent_flex" style="margin-right: 0; margin-top: 10px">
        <div class="cookie-consent" id="cookie_consent">
            <p>This site uses a session cookie to enable certain functionality (e.g. user logins, linking anonymous projects to browser sessions, and viewing projects set to peer review).
                The site does not use tracking cookies. By clicking "Accept" or continuing to use the site, you acknowledge this.<button id="cookie_accept" onclick="sendAccept();">Accept</button></p>
        </div>
    </div>
</body>
</html>