{% extends 'base.html' %}
{% block header %}
<h2>Pipeline Designer</h2><br>
{% endblock %}



{% block content %}
<p id="textInstructions">
    <h4 id="gettingStarted" onclick="toggleVisibility('instructionList'); toggleIcon('gettingStarted')" style="cursor: pointer;">-Getting started</h4>
    <ol id="instructionList">
        <li>Click on nodes in the panel to add them to the pipeline.</li>
        <li>Load your data using a loading node (e.g., AnnDataOps/loaders/AnnDataLoader)</li>
        <li>Drag connections from the output of a node (blue) to the input (orange) to connect two nodes.</li>
        <li>Double-click on nodes to view or set their parameters.</li>
        <li>The "delete" key will remove the last-selected element, including connections between nodes. The element is indicated by the green dot.</li>
        <li>Validate your pipeline using the "Validate" button below the designer.</li>
    </ol>
</p>

{#<span class="selectionMarker" id="selectionMarker" style="height: 50px; width: 50px; border-radius: 50%; background-color: #aaaa00; display: none; position: absolute; z-index: 1;"></span>#}
<button id="sideToggle" class="sidebar-toggle" onclick="toggleSidebar()" style="height:100px">&rarr;</button>
<script src="static/js/pipeline.js"></script>
<script src="static/js/pipelineSidebar.js"></script>

<div id="sidebar" class="sidebar-closed">
    <button type="button" onclick="openSavePanel( &quot;{{ proj_dests }}&quot;, &quot;{{user_dests}}&quot; )">Save Pipeline</button>
    <select name="analyses" id="analyses" autocomplete="off">
        <option value="def" selected disabled>Load analysis pipeline</option>
        {% for an in analyses %}
          <option value="{{an['id_analysis']}}">{{an["analysis_name"]}}</option>
        {% endfor %}
    </select>

    <button id="analysis_load" onclick="loadAnalysis();">Load</button><br>
    {% if current_project is defined %}
        <button type="button" onclick='location.href="{{current_project}}";'>Return to current project</button>
    {% endif %}
</div>

<div id="nodeContainer" class="container"></div>
<div>
    <button id="validate" onclick="validatePipeline('validateLabel');">Validate Pipeline</button>
    <label for="validate" id="validateLabel" style="display: none;">Some nodes of the pipeline are not configured correctly. Hover over the markers on the nodes for more information.</label>
</div>

<script>
document.addEventListener('nodesLoaded', function () {populateSidebar("sidebar");})
document.addEventListener('nodesLoaded', function () {toggleSidebar();})
</script>
{% endblock %}
