{% extends 'base.html' %}
{% block header %}
<h2 class="bottomarea">Pipeline Designer</h2>

{% endblock %}

{% block content %}
<script src="static/js/dragging.js"></script>
<script src="static/js/pipelineSidebar.js"></script>

<!--<button type="button" onclick="createDraggable();">Insert node</button>-->

<div id="sidebar" class="sidebar-closed">
    {% for m in modules %}
      <h2>{{ m[0].upper() + m[1:] }}</h2>
      {% for j in node_json %}
        {% if j['module'] == m %}
          {% if j['num_inputs'] == 0 %}
              <p title="{{ j['parameters'] }}" color="#999999" onmousedown="createDraggable('static/nodes/input.png', &quot;{{ j['name'] }}&quot;, &quot;{{ j['module'] }}&quot;, &quot;{{ j['parameters'] }}&quot;)">{{ j['name'] }}
              <img width="20px" height="20px" src="static/nodes/input.png">
          </p>
          {% elif j['num_outputs'] == 0 %}
            <p title="{{ j['parameters'] }}" color="#999999" onmousedown="createDraggable('static/nodes/output.png', &quot;{{ j['name'] }}&quot;, &quot;{{ j['module'] }}&quot;, &quot;{{ j['parameters']}}&quot;)">{{ j['name'] }}
              <img width="20px" height="20px" src="static/nodes/output.png">
          {% elif j['num_inputs'] == 1 %}
    <p title="{{ j['parameters'] }}" color="#999999" onmousedown="createDraggable('static/nodes/simo.png', &quot;{{ j['name'] }}&quot;, &quot;{{ j['module'] }}&quot;, &quot;{{ j['parameters']}}&quot;)">{{ j['name'] }}
              <img width="20px" height="20px" src="static/nodes/simo.png">
          {% else %}
    <p title="{{ j['parameters'] }}" color="#999999" onmousedown="createDraggable('static/nodes/mimo.png', &quot;{{ j['name'] }}&quot;, &quot;{{ j['module'] }}&quot;, &quot;{{ j['parameters']}}&quot;)">{{ j['name'] }}
              <img width="20px" height="20px" src="static/nodes/mimo.png">
          {% endif %}
        {% endif %}
      {% endfor %}
    {% endfor %}
</div>

<button type="button" onclick="toggleSidebar()">&#9776;</button>
<button type="button" onclick="openSavePanel( &quot;{{ proj_dests }}&quot;, &quot;{{user_dests}}&quot; )">Save Pipeline</button>

{% endblock %}