{% extends 'base.html' %}

{% block header %}
<h1><center>{{ g.user['name_user'] }}</center></h1>
{% endblock %}

{% block content %}
<a class="action" href="{{ url_for('pscs.upload') }}">Upload Data</a>  -- <a href="{{ url_for('pscs.analysis') }}">Analysis</a>
<h2>Data Summary:</h2>
<table>
    <tr>
        <th>File</th>
        <th>Samples</th>
        <th>Genes</th>
        <th></th>
<!--        <th></th>-->
    </tr>
    {% for datum in data %}
    <tr>
        <td>{{ datum['file_path'] }}</td>
        <td>{{ datum['sample_count'] }}</td>
        <td>{{ datum['gene_count'] }}</td>
        <td><form><input type="submit" name="delete" value="Remove" onclick="return confirm('Confirm removal?'"></form></td>
<!--        <td><a href="{{ url_for('pscs.analysis') }}">Analysis</a></td>-->
    </tr>
    {% endfor %}
</table>
{% endblock %}