{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Profile for {{ user_info["name_user"] }}{% endblock %}</h1>


{% endblock %}

{% block content %}
<table>
    <tr>
        <td>Email:</td>
        <td>{{user_info["name_user"]}}</td>
    </tr>
    <tr>
        <td>Joined:</td>
        <td>{{user_info["creation_time_user"]}}</td>
    </tr>
    <tr>
        <td>Confirmed?</td>
        {% if user_info["confirmed"] == 0 %}
            <td>No.</td>
        {% else %}
            <td>Yes.</td>
        {% endif %}
    </tr>
</table>

<h3>Password update</h3>
<script>
    async function resetPassword(){
        let msg = {"name_user": "{{user_info["name_user"]}}"};
        console.log("msg: ", msg);
        await fetch("/auth/reset/", {
            method: "POST",
            headers: {
                "Accept": "application/json",
                "Content-Type": "application/json"
            },
            body:JSON.stringify(msg)
        }).then(response => {window.location.href = response.url});
    }
</script>
Send yourself a password-reset email: <input type="button" value="Reset password" onclick="resetPassword()">


{% endblock %}