{% extends 'base.html' %}

{% block header %}
{% if g.user %}
<h1>{% block title %}{% endblock %}</h1>

{% else %}
    <p>Log in to view options.</p>
{% endif %}
{% endblock %}

{% block content %}
{% if g.user %}
<p style="text-align: center">Welcome, {{ g.user['name_user'] }}!</p>
<!--<a class="action" href="{{ url_for('pscs.create_project') }}">Create Project</a>-->
<a class="linkbutton" href="{{ url_for('pscs.create_project') }}">Create Project</a>
<p></p>
<table>
    <tr>
        <th>Project Name</th>
        <th>Role</th>
        <th>Project Members</th>
        <th>Number of Uploaded Files</th>
        <th>Description</th>
    </tr>
{% for p in projects %}
    <tr>
        <td><a href="{{ url_for('projects.project', id_project=p['id_project']) }}">{{ p['name_project'] }}</a></td>
        <td>{{ p['role'] }}</td>
        <td>{{ p['num_members'] }}</td>
        <td>{{ p['num_files'] }}</td>
        {% if p['description']|length > 50 %}
        <td>{{ p['description'][:50] + '...'}}</td>
        {% else %}
        <td>{{ p['description'] }}</td>
        {% endif %}
    </tr>
{% endfor %}
</table>

{% endif %}
{% endblock %}
