{% extends 'base.html' %}

{% block header %}
<script src="/static/js/pipeline.js"></script>
<h1>{{ project_summary["name_project"] }}</h1>
{% endblock %}

{% block content %}
<h2>Description:</h2>
<p>{{ project_summary["description"] }}</p>
<h5>Authors</h5>
{{project_summary["authors"][0]["name"]}}<sup title="{{project_summary['affiliations'][0]}}">1</sup>
{% for a in project_summary["authors"][1:] %}
  , {{a["name"]}}<sup title="{{project_summary['affiliations'][loop.index0+1]}}">{{loop.index0+2}}</sup>
{% endfor %}

<div id="results">
<h3>Results</h3>
{% for an in project_summary["analyses"] %}
  <h5>Results for Analysis: {{an["analysis_name"]}}</h5>
    {% for r in project_summary["results"][an["id_analysis"]] %}
      <img src="{{url_for('pscs.results', id_project=project_summary['id_project'], id_analysis=an['id_analysis'], filename=r['file_name'] )}}">
    {% endfor %}
{% endfor %}
</div>

<br>
<h3>Analysis Inspector</h3>
<select id="analyses">
{% for an in project_summary["analyses"] %}
  <option value={{an["id_analysis"]}}>{{an["analysis_name"]}}</option>
{% endfor %}
</select>
<button id="loader" onclick="loadAnalysis()">Inspect analysis</button>
<div id="nodeContainer" class="container"></div>
{% endblock %}

