{% extends 'base.html' %}

{% block header %}
<script src="/static/js/pipeline.js"></script>
<script src="/static/js/projects.js"></script>
{% endblock %}

{% block content %}
    <h1>{{ project_summary["title"] }}</h1>
    <select id="versions" onchange="location = this.value">
        <option selected disabled>Select version</option>
    {% set num_version = project_summary["versions"] | length %}
    {% for v in project_summary["versions"] %}
        <option value="{{ v["publication_url"] }}">v{{ num_version-loop.index0 }} - {{ v["title"][:50] }}</option>
    {% endfor %}
    </select>
<h2>Description:</h2>
<p>{{ project_summary["description"] }}</p>
<h5>Authors</h5>
{{project_summary["authors"][0]["name"]}}<sup title="{{project_summary['affiliations'][0]}}">1</sup>
{% for a in project_summary["authors"][1:] %}
  , {{a["name"]}}<sup title="{{project_summary['affiliations'][loop.index0+1]}}">{{loop.index0+2}}</sup>
{% endfor %}
    {% if project_summary["papers"] | length > 0%}
<h5>Related papers</h5>
        {% for paper in project_summary["papers"] %}
            <a href="{{ paper["url"] }}"><b>{{ paper["title"] }}</b>.</a> {{ paper["year"] }}. {{ paper["author_str"] }}<br>
        {% endfor %}
    {% endif %}

<div id="results">
<h3>Results</h3>
{% for an in project_summary["analysis"] %}
    {% if project_summary["results"][an["id_analysis"]] | length > 0 %}
        <h5>Results for Analysis: {{an["analysis_name"]}}</h5>
    {% endif %}
    {% for r in project_summary["results"][an["id_analysis"]] %}
        {% if r["result_type"] == "image" %}
            <img src="{{ r['file_path'] }}">
        {% endif %}
    {% endfor %}
{% endfor %}

<h3>Interactive Results</h3>
{% for an in project_summary["analysis"] %}
  <h5>Results for Analysis: {{an["analysis_name"]}}</h5>
    <table>
        <tr>
            <th>File Name</th>
        </tr>

    {% for r in project_summary["results"][an["id_analysis"]] %}
        {% if r["is_interactive"] %}
            <tr>
                <td>{{ r["file_name"] }}</td>
                <td><button class="visualizer" onclick="startCXG('{{ r['id_result']}}', this)">Visualize</button></td>
            </tr>
        {% endif %}
    {% endfor %}
    </table>
{% endfor %}




<h4>Download results</h4>
    <select id="resultDownload">
    {% for an in project_summary["analysis"] %}
        <option value="{{an['id_analysis']}}">{{an['analysis_name']}}</option>
    {% endfor %}
    </select>
    <button onclick="downloadPublishedResult('resultDownload', 'resultsRateWarning')">Download</button>
    <p style="display: none; color: #ff2222" id="resultsRateWarning">Too many server requests; please allow some time to pass before requesting more data.</p>
</div>

{% if project_summary["data"] | length > 0 %}
<br>
<h3>Project Data</h3>
<table>
    <tr>
        <th>File name</th>
        <th>Download</th>
    </tr>
    {% for pd in project_summary["data"] %}
    <tr>
        <td>{{pd["file_name"]}}</td>
        <td><input class="downloadCheck" id="{{pd["id_data"]}}" type="checkbox"></td>
    </tr>
    {% endfor %}
</table>
<button id="buttonDownloadData" onclick="requestCheckedFiles('downloadCheck')">Download</button>
<p style="display: none; color: #ff2222" id="rateWarning">Too many server requests; please allow some time to pass before requesting more data.</p>
{% endif %}

<br>
<h3>Analysis Inspector</h3>
<select id="analyses" onclick="setTextContent('id_analysis', this.value)">
  <option selected disabled>Select analysis...</option>
{% for an in project_summary["analysis"] %}
  <option value={{an["id_analysis"]}}>{{an["analysis_name"]}}</option>
{% endfor %}
</select>

<button id="loader" onclick="loadAnalysis()">Inspect analysis</button>
{% if user_projects %}
<button id="importer" onclick="startImport('projectList', 'buttonImport');">Import to project</button>
<select id="projectList" style="display: none">
    {% for proj in user_projects %}
      <option value={{proj["id_project"]}}>{{proj["name_project"]}}</option>
    {% endfor %}
</select>
<button id="buttonImport" onclick="importPipeline('analyses', 'projectList')" style="display: none">Import to project</button>
{% endif %}

<div>Analysis ID:<a id="id_analysis"></a></div>
<div id="nodeContainer" class="container"></div>
{% endblock %}

