{% extends 'base.html' %}

{% block header %}
<h1>{{ project_name }}</h1>
{% endblock %}

{% block content %}

<!--Data summary-->
<h3>Data Summary</h3>
<a class="linkbutton" href="{{ url_for('pscs.upload') }}">Upload Data</a>

<!--Data-->
<script>
  function color(id, color = 'rgba(255,255,255,0.2)'){
    let elem = document.getElementById(id);
    elem.style.backgroundColor = color;
  }
</script>
<table>
  <tr>
    <th>file_path</th>
    <th>data_type</th>
    <th>date_uploaded</th>
  </tr>
  {% for data_row in project_data_summary %}
  <tr id="{{loop.index0}}">
    <td>{{data_row['file_path']}}</td>
    <td>{{data_row['data_type']}}</td>
    <td>{{data_row['data_uploaded_time']}}</td>
    <td><button onclick="startDeletion('{{data_row['id_data']}}', '{{data_row['file_path']}}');">Delete</button></td>
  </tr>
  {% endfor %}
</table>

<!--Analysis-->
<h3>Analyses</h3>
<script src="/static/js/projects.js"></script>

<!-- Create dropdown of analyses -->
<script>
  function parseAndCreateTable(sel){
    let buttonRun = document.getElementById("buttonRun");
    buttonRun.disabled = false;
    let analysis_nodes = {{analysis_nodes | tojson}}
    createTable({{files | tojson}}, analysis_nodes[sel.value]);
  }
</script>

<a class="linkbutton" href="{{ url_for('pscs.pipeline_designer') }}">Create Analysis</a><br>
<select name="analysis" id="analysis" autocomplete="off" onchange="parseAndCreateTable(this);">
  <option value="default" selected disabled>Select analysis pipeline...</option>
<!--    Go through each available analysis -->
  {% for an in analyses %}
    <option value="{{an}}">{{analyses[an]}}</option>
  {% endfor %}
</select>
<button onclick="executePipeline();" id="buttonRun" disabled="disabled">Run</button>

<!--Results-->
<h3>Results</h3>
{% for f in results %}
<div style="text-align:center">

  <br>
  <img src="{{url_for('pscs.results', id_project=summary['id_project'], id_analysis=f['id_analysis'], filename=f['file_name'] )}}">
  <br>

</div>
{% endfor %}

<h3>Project Management</h3>
Users associated with this project:
<table>
  <tr>
  {% for u in user_list %}
    <td>{{u}}</td>
  {% endfor %}
  </tr>
</table>

  <table>
    <tr>
      <td>Add user</td>
      <td><input type="text" id="addUser"></td>
      <td><button onclick="addUser();">Add</button></td>
    </tr>
    <tr>
      <td>Publish project</td>
      <td>Current status: {{project_status}}</td>
      <td><button onclick="window.location.href=window.location.href + '/publish'">Publishing options</button></td>
    </tr>
    <tr>
      <td>Rename project</td>
      <td style="vertical-align: middle;"><input type="text" id="inputRename"></td>
      <td><button onclick="renameProject();">Submit</button></td>
    </tr>
    <tr>
      <td>Delete project</td>
      <td></td>
      <td><button onclick="deleteProject('{{project_name}}');">Delete</button></td>
    </tr>
  </table>
{% endblock %}