{% extends 'base.html' %}

{% block header %}
<h1>Project: {{ summary['name_project'] }}</h1>
{% endblock %}

{% block content %}

<script src="/static/js/projects.js"></script>
<script>
  function parseAndCreateTable(sel, buttonRunId=null){
    let buttonRun = document.getElementById(buttonRunId);
    buttonRun.disabled = false;
    let analysis_nodes = {{analysis_nodes | tojson}}
    createTable({{files | tojson}}, analysis_nodes[sel.value], buttonRunId=buttonRunId);
  }
</script>

<h3>Summary</h3>
<table id="table_summary">
  <tr>
    <td>Users: {{summary['users'] | length}}</td>
    <td>Datasets: {{summary['data_names'] | length}}</td>
    <td>Analyses: {{summary['analysis'] | length}}</td>
  </tr>
  <tr></tr>
  <tr>
    <td>My role: {{summary['user_role']}}</td>
    <td>Publication status: {{summary['publication_status']}}</td>
  </tr>
</table>
<br>

<div id="project_info" style="border-color: #222222; border-style: solid; border-width: 2px; padding: 5px;">
  <div class="tab-ribbon" id="tabs">
    <img src="/static/icons/tab_data.png" title="Data" class="tab-button" onclick="getTabInfo('data')">
    <img src="/static/icons/tab_jobs.png" title="Jobs" class="tab-button" onclick="getTabInfo('jobs')">
    <img src="/static/icons/tab_analysis.png" title="Analysis" class="tab-button" onclick="getTabInfo('analysis')">
    <img src="/static/icons/tab_results.png" title="Results" class="tab-button" onclick="getTabInfo('results')">
    <img src="/static/icons/tab_project_management.png" title="Project Management" class="tab-button" onclick="getTabInfo('project_management')">
  </div>

  <div id="tab_content">

  </div>

</div>

{% endblock %}