{% extends 'base.html' %}

{% block header %}
<script src="/static/js/pipeline.js"></script>
<h1>{{ project_summary["name_project"] }}</h1>
{% endblock %}

{% block content %}
<h2>Description:</h2>
<p>{{ project_summary["description"] }}</p>
<h5>Authors</h5>
{{project_summary["authors"][0]["name"]}}<sup title="{{project_summary['affiliations'][0]}}">1</sup>
{% for a in project_summary["authors"][1:] %}
  , {{a["name"]}}<sup title="{{project_summary['affiliations'][loop.index0+1]}}">{{loop.index0+2}}</sup>
{% endfor %}

<div id="results">
<h3>Results</h3>
{% for an in project_summary["analyses"] %}
  <h5>Results for Analysis: {{an["analysis_name"]}}</h5>
    {% for r in project_summary["results"][an["id_analysis"]] %}
      <img src="{{url_for('pscs.results', id_project=project_summary['id_project'], id_analysis=an['id_analysis'], filename=r['file_name'] )}}">
    {% endfor %}
{% endfor %}
</div>

{% if project_data %}
<br>
<h3>Project Data</h3>
<table>
    <tr>
        <th>File name</th>
        <th>Download</th>
    </tr>
    {% for pd in project_data %}
    <tr>
        <td>{{pd["file_name"]}}</td>
        <td><input class="downloadCheck" id="{{pd["id_data"]}}" type="checkbox"></td>
    </tr>
    {% endfor %}
</table>
<button id="buttonDownloadData" onclick="requestFiles('downloadCheck')">Download</button>
{% endif %}

<br>
<h3>Analysis Inspector</h3>
<select id="analyses">
  <option selected disabled>Select analysis...</option>
{% for an in project_summary["analyses"] %}
  <option value={{an["id_analysis"]}} onclick="setTextContent('id_analysis', '{{an["id_analysis"]}}')">{{an["analysis_name"]}}</option>
{% endfor %}
</select>

<button id="loader" onclick="loadAnalysis()">Inspect analysis</button>
{% if user_projects %}
<button id="importer" onclick="startImport('projectList', 'buttonImport');">Import to project</button>
<select id="projectList" style="display: none">
    {% for proj in user_projects %}
      <option value={{proj["id_project"]}}>{{proj["name_project"]}}</option>
    {% endfor %}
</select>
<button id="buttonImport" onclick="importPipeline('analyses', 'projectList')" style="display: none">Import to project</button>
{% endif %}

<div>Analysis ID:<a id="id_analysis"></a></div>
<div id="nodeContainer" class="container"></div>
{% endblock %}

