{% extends 'base.html' %}
{% block header %}
<h2 class="bottomarea">Pipeline Designer</h2>

{% endblock %}

{% block content %}
<script src="static/js/dragging.js"></script>

<!--<script>-->
<!--  const arrow = document.createElement("img");-->
<!--  arrow.class = "dragged";-->
<!--  arrow.src = "static/arrowhead2.png";-->
<!--  arrow.deg = 0;-->
<!--  arrow.draggable = "true";-->
<!--  arrow.style = "position:absolute;cursor:move;";-->
<!--  arrow.id = 'arrowhead-' + '5';-->

<!--  document.body.appendChild(arrow);-->
<!--  h = 20;-->
<!--  function lengthen() {-->
<!--    el = document.getElementById("line-0");-->
<!--    el.height = h.toString() + "px";-->
<!--    h = h + 20;-->
<!--  }-->
<!--</script>-->

<button type="button" onclick="createDraggable();">Insert node</button>
<!--<button type="button" onclick="reorient(arrow);">Insert arrow</button>-->

{% endblock %}