include pscs/schema.sql
include pscs/universities.json
include pscs/templates/misc/*
include pscs/static/pscs_logo2.svg

global-include *.js
global-include *.png
global-include *.html
global-include *.css
global-include *.ico
global-include *.submit
