<!doctype html>

<title>{% block title %}PSCS {% endblock %}</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='/favicon.ico') }}">

<script>
    function checkLogout(dest){
        if (window.confirm("Logging out of a temporary account will delete it. Do you wish to proceed?")){
            window.location.href = dest;
        }
    }
</script>

<nav>
    <h1><a href="{{ url_for('pscs.index') }}" style="color: #C8383E">PSCS - Platform for Single Cell Science</a></h1>
    <ul>
        <li><a href="{{ url_for('tutorial.landing')}}">Help</a></li>
        <li><a href="{{url_for('pscs.about')}}">About</a></li>
    <li><a href="{{ url_for('pscs.projects_summary') }}">My Projects</a>
        {% if g.user %}
            <li><a href="{{ url_for('pscs.profile') }}">{{ g.user['name_user'] }}</a>

            {% if g.user["is_temp_user"] %}
                <li><a href="{{ url_for('auth.logout') }}" onclick="checkLogout('{{ url_for('auth.logout')}}')" >Log Out</a>
            {% else %}
                <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
            {% endif %}

            {% if session["is_admin"] %}
                <li><a href="{{ url_for('admin.posts') }}">Admin</a></li>
            {% endif %}
        {% else %}
            <li><a href="{{ url_for('auth.register') }}">Register</a>
            <li><a href="{{ url_for('auth.login') }}">Log In</a>
        {% endif %}
    </ul>
</nav>
<section class="content">
    <header>
        {% block header %}{% endblock %}

    </header>
    {% for category, message in get_flashed_messages(with_categories=true) %}
        {% if category == "link" %}
            <div class="flash">{{ message|safe}}</div>
        {% else %}
            <div class="flash">{{ message }}</div>
        {% endif %}
    {% endfor %}
    <body>
        <div class="flex-container" style="margin-right: 0;">
            <div class="main-content">
                {% block content %}{% endblock %}
            </div>
        </div>
    </body>
</section>