<!doctype html>

<title>{% block title %}{% endblock %}PSCS</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<nav>
    <h1><a href="{{ url_for('pscs.index') }}">PSCS - Platform for Single Cell Science</a></h1>
    <ul>
        {% if g.user %}
            <li><a href="{{ url_for('pscs.profile') }}">{{ g.user['name_user'] }}</a>
            <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
        {% else %}
            <li><a href="{{ url_for('auth.register') }}">Register</a>
            <li><a href="{{ url_for('auth.login') }}">Log In</a>
        {% endif %}
    </ul>
</nav>
<section class="content">
    <header>
        {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %}
    <body>
    {% block content %}{% endblock %}
    </body>
</section>