html { font-family: sans-serif;
    background-color: #eeeeee;
    padding: 1rem;}
body { max-width: 1980px; margin: 0 auto; transition-duration: 0.2s; margin-left: 0px;
    background-image: url("pscs_logo2.svg");
    background-color: rgba(255,255,255,1);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;}
body-sidebaropen { margin-left: 250px;}
h1 { font-family: serif; color: #555555; margin: 1rem 0; }
h2 { font-family:serif; color: #555555;}
a { color: #377ba8; }
hr { border: none; border-top: 1px solid lightgray; }
nav { background: #c5c5d0; display: flex; align-items: center; padding: 0 0.5rem; }
nav h1 { flex: auto; margin: 0; }
nav h1 a { text-decoration: none; padding: 0.25rem 0.5rem; }
nav ul  { display: flex; list-style: none; margin: 0; padding: 0; }
nav ul li a, nav ul li span, header .action { display: block; padding: 0.5rem; }
.linkbutton{   display:inline-block;
            transition: background-color 0.3s;
            background-color: #aaaaaa;
            padding: 5px 5px;
            color: #222222;
            text-decoration: none;
            border: 1px solid;
            border-radius: 5px;
}
.linkbutton:hover {
    background-color: #2faf00;
}
.content { padding: 0 1rem 1rem; }
.content > header { border-bottom: 1px solid lightgray; display: flex; align-items: flex-end; }
.content > header h1 { flex: auto; margin: 1rem 0 0.25rem 0; }
.flash { margin: 1em 0; padding: 1em; background: #cae6f6; border: 1px solid #377ba8; }
 .content:last-child { margin-bottom: 0; }
.content form { margin: 1em 0; display: flex; flex-direction: column; }
.content label { font-weight: bold; margin-bottom: 0.1em; }
.content input, .content textarea { margin-bottom: 1em; }
.content textarea { min-height: 12em; resize: vertical; }
input.danger { color: #cc2f2e; }
input[type=submit] { align-self: start; min-width: 10em; }
input,textarea{min-width:200px; width:20%;display:block}
table, th, td {border: 1px solid; }
img {max-width:1600px;}
.pscs {position:absolute; cursor: grab; z-index:2;}
.pscsLabel {user-select: none; cursor: grab}
.pscsParamPanel {position: absolute;
    background-color: rgba(200,180,200,0.4);
    right: 0px;
    z-index: 3;}
.exportPanel {
    position: absolute;
    background-color: rgba(200,200,200,1);
    z-index: 3;
}
.connector {background-color: #aaaaaa; width: 5px; height: 0px; position: absolute; z-index: 1; transform-origin: 50% 0%;}
.hoverdot {background-color: #0000bb; border-radius: 50%; height: 25px; width: 25px; opacity: 0; position:absolute; transition-property: opacity; transition-duration: 0.3s}

.sidebar-closed, .sidebar-open {
    height: 100%;
    width: 250px;
    left: -250px;
    position: fixed;
    z-index: 2;
    top: 0;
    background-color: #222222;
    overflow-x: hidden;
    transition: 0.2s;
    padding-top: 60px;
    color: #999999;
    }
.sidebar-open {left: 0px;}
.sidebar-toggle {
    position: absolute;
    top: 50%;
    left: 0px;
    transition: 0.2s;}
.panel {position: absolute;
        background-color: rgba(200,180,200,0.4);
        right: 0px;}
.container {
    position: relative;
    background-color: rgba(255,255,255,1);
    width: 95%;
    height: 30em;
    border: 1px solid black;
    z-index: 0;
    }