{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Data Upload{% endblock %}</h1>
{% endblock %}

{% block content %}

    {% if g.user["is_temp_user"] %}
        <p style="font-size: 16;">Any data that is uploaded to PSCS must not contain <a href="https://www.dhcs.ca.gov/dataandstats/data/Pages/ListofHIPAAIdentifiers.aspx">Personal Health Information</a>.</p>
        <p style="font-size: 16; font-weight: bold;">Additionally, by uploading data to the PSCS you agree to the <a href="/static/Data_Use_Agreement.txt">Data Use Agreement</a>.</p>
        <p style="font-size: 16;">As a temporary user, you will be unable to make your project public, but the data you upload may be distributed to external computing resources to complete pipeline execution.</p>
        <br>
    {% endif %}
<label for="data_type_selector">Select the data uploader to use.</label>
<select id="data_type_selector" autocomplete="off">
    <option id="default" selected disabled>Select uploader...</option>
    <option id="csv_h5ad">CSV -> H5AD</option>
    <option id="h5ad">H5AD Upload</option>
</select>
<div id="uploader">
</div>
<div id="out">
</div>
<script src="/static/js/uploader/landing.js"></script>
<script>
    let el = document.getElementById("data_type_selector");
    el.addEventListener("change", async function(){
        let uploaderId = this.selectedOptions[0].id;
        // get scripts, append to DOM

        fetch(window.location.href + '/' + uploaderId)
            .then(response => response.text())
            .then(data => setUploader(data))
        let response = fetch(window.location.href + '/' + uploaderId + '/script')
                            .then(response => response.json())
                            .then(scripts => {
                                updateUploaderScripts(scripts["js"]);
                            })
        await response;
        document.dispatchEvent(new Event("uploaderLoaded"));

    });
    function setUploader(html){
        const uploader = document.getElementById("uploader");
        uploader.innerHTML = html;
    }
</script>
{% endblock %}