{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Password reset{% endblock %}</h1>
{% endblock %}

{% block content %}
<script src="/static/js/registration.js"></script>
<form method="post" onsubmit="return validatePassword();">
  <label for="password">Password</label>
  <input type="password" id="password" name="password">

  <label for="passwordConfirm">Confirm password</label>
  <input type="password" id="passwordConfirm" name="passwordConfirm">

  <input type="submit" value="Update">
</form>
{% endblock %}