{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Password reset{% endblock %}</h1>
{% endblock %}

{% block content %}
<!--<script src="/static/js/registration.js"></script>-->
<script src="/static/js/profile.js"></script>

<!--<form id="form_username" method="post" onsubmit="return validateUsername();">-->
  <label for="name_user">Username</label>
  <input id="name_user" placeholder="Username" name="name_user">
  <input type="submit" value="Request reset email" onclick="getUserAndReset('name_user')">
</form>
{% endblock %}