{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Password reset{% endblock %}</h1>
{% endblock %}

{% block content %}
<script src="/static/js/registration.js"></script>


<form id="form_username" method="post" onsubmit="return validateUsername();">
  <label for="username">Username</label>
  <input type="text" id="username" placeholder="Username">
  <input type="submit" value="Request reset email">
</form>

<script>
  async function resetPassword(event){
    event.preventDefault();
    let usernameEl = document.getElementById("username");
    name_user = usernameEl.value;
    let msg = {"name_user": name_user};
    console.log("msg: ", msg);
    await fetch("/auth/reset/", {
      method: "POST",
      headers: {
        "Accept": "application/json",
        "Content-Type": "application/json"
      },
      body:JSON.stringify(msg)
    }).then(response => {window.location.href = response.url});
  }
  const formEl = document.getElementById("form_username");
  formEl.addEventListener("submit", resetPassword);
</script>
{% endblock %}